In [1]:
import pandas as pd

In [2]:
df_train = pd.read_excel('dataset/Data_Train.xlsx')

In [3]:
df_train.head()

,Restaurant,Location,Cuisines,Average_Cost,Minimum_Order,Rating,Votes,Reviews,Delivery_Time
0,ID_6321,"FTI College, Law College Road, Pune","Fast Food, Rolls, Burger, Salad, Wraps",₹200,₹50,3.5,12,4,30 minutes
1,ID_2882,"Sector 3, Marathalli","Ice Cream, Desserts",₹100,₹50,3.5,11,4,30 minutes
2,ID_1595,Mumbai Central,"Italian, Street Food, Fast Food",₹150,₹50,3.6,99,30,65 minutes
3,ID_5929,"Sector 1, Noida","Mughlai, North Indian, Chinese",₹250,₹99,3.7,176,95,30 minutes
4,ID_6123,"Rmz Centennial, I Gate, Whitefield","Cafe, Beverages",₹200,₹99,3.2,521,235,65 minutes

In [4]:
df_train.dtypes

Restaurant       object
Location         object
Cuisines         object
Average_Cost     object
Minimum_Order    object
Rating           object
Votes            object
Reviews          object
Delivery_Time    object
dtype: object

In [5]:
df_train.describe()

,Restaurant,Location,Cuisines,Average_Cost,Minimum_Order,Rating,Votes,Reviews,Delivery_Time
count,11094,11094,11094,11094,11094,11094,11094,11094,11094
unique,7480,35,2179,26,18,33,1103,761,7
top,ID_7184,"Mico Layout, Stage 2, BTM Layout,Bangalore",North Indian,₹200,₹50,-,-,-,30 minutes
freq,22,947,850,3241,10118,1191,2074,2312,7406

In [6]:
def processCost(x):
    try:
        if x[0] == '₹':
            return int(x[1:].replace(',', ''))
        else:
            return int(x).replace(',', '')
    except Exception as e:
        print(e)
        return None

In [7]:
df_train.Average_Cost = df_train.Average_Cost.apply(processCost)

invalid literal for int() with base 10: 'for'

In [8]:
df_train.Minimum_Order = df_train.Minimum_Order.apply(processCost)

In [9]:
df_train.Delivery_Time = df_train.Delivery_Time.apply(lambda x : int(x.split(' ')[0]))

In [10]:
df_train.rename(columns = {
    'Delivery_Time' : 'Delivery_Time_min'
}, inplace = True)

In [11]:
def processVotes(x):
    if x == '-':
        return 0
    else:
        return int(x)
    
df_train['Votes'] = df_train['Votes'].apply(processVotes)

In [12]:
def processReviews(x):
    if x == '-':
        return 0
    else:
        return int(x)
    
df_train['Reviews'] = df_train['Reviews'].apply(processReviews)

In [13]:
df_train.head()

,Restaurant,Location,Cuisines,Average_Cost,Minimum_Order,Rating,Votes,Reviews,Delivery_Time_min
0,ID_6321,"FTI College, Law College Road, Pune","Fast Food, Rolls, Burger, Salad, Wraps",200.0,50,3.5,12,4,30
1,ID_2882,"Sector 3, Marathalli","Ice Cream, Desserts",100.0,50,3.5,11,4,30
2,ID_1595,Mumbai Central,"Italian, Street Food, Fast Food",150.0,50,3.6,99,30,65
3,ID_5929,"Sector 1, Noida","Mughlai, North Indian, Chinese",250.0,99,3.7,176,95,30
4,ID_6123,"Rmz Centennial, I Gate, Whitefield","Cafe, Beverages",200.0,99,3.2,521,235,65

In [14]:
df_train.dtypes

Restaurant            object
Location              object
Cuisines              object
Average_Cost         float64
Minimum_Order          int64
Rating                object
Votes                  int64
Reviews                int64
Delivery_Time_min      int64
dtype: object

In [15]:
df_train.Cuisines = df_train.Cuisines.apply(lambda x : x.split(', '))

In [16]:
df_train.head()

,Restaurant,Location,Cuisines,Average_Cost,Minimum_Order,Rating,Votes,Reviews,Delivery_Time_min
0,ID_6321,"FTI College, Law College Road, Pune","[Fast Food, Rolls, Burger, Salad, Wraps]",200.0,50,3.5,12,4,30
1,ID_2882,"Sector 3, Marathalli","[Ice Cream, Desserts]",100.0,50,3.5,11,4,30
2,ID_1595,Mumbai Central,"[Italian, Street Food, Fast Food]",150.0,50,3.6,99,30,65
3,ID_5929,"Sector 1, Noida","[Mughlai, North Indian, Chinese]",250.0,99,3.7,176,95,30
4,ID_6123,"Rmz Centennial, I Gate, Whitefield","[Cafe, Beverages]",200.0,99,3.2,521,235,65

In [17]:
unique_cuisines = set()

for cuisines in df_train.Cuisines:
    for cuisine in cuisines:
        unique_cuisines.add(cuisine)

In [18]:
len(unique_cuisines)

101

In [19]:
df_train.isna().sum()

Restaurant           0
Location             0
Cuisines             0
Average_Cost         1
Minimum_Order        0
Rating               0
Votes                0
Reviews              0
Delivery_Time_min    0
dtype: int64

In [20]:
df_train.dropna(inplace = True)

In [21]:
df_train = pd.concat((df_train, pd.DataFrame(columns=unique_cuisines)))

In [22]:
df_train.fillna(0, inplace =  True)

In [23]:
def processCuisines(df):
    for cuisine in df.Cuisines:
        df[cuisine] = 1
    return df

In [24]:
pd.set_option('display.max.columns', None)

In [25]:
df_train = df_train.apply(processCuisines, axis=1)

In [26]:
df_train.drop('Cuisines', inplace = True, axis=1)

In [27]:
df_train.head()

,Restaurant,Location,Average_Cost,Minimum_Order,Rating,Votes,Reviews,Delivery_Time_min,North Indian,Sandwich,Coffee,Naga,Nepalese,Greek,Maharashtrian,Poké,Fast Food,Asian,South Indian,French,Burmese,Sri Lankan,Cafe,Assamese,Middle Eastern,Pizza,African,Tamil,Bar Food,Gujarati,North Eastern,Continental,Mexican,Mishti,Bangladeshi,Mediterranean,Japanese,Juices,Lebanese,Mangalorean,Rolls,Israeli,Brazilian,Mughlai,Odia,Bakery,Desserts,Bihari,Spanish,Momos,Modern Indian,Paan,Parsi,Afghan,Mithai,Tibetan,Roast Chicken,Cantonese,Chinese,Bohri,Bubble Tea,Awadhi,Kerala,Portuguese,Healthy Food,Bengali,American,Hyderabadi,Italian,Sushi,Wraps,Steak,Kebab,Frozen Yogurt,Kashmiri,German,Indonesian,Malaysian,Salad,Tea,Seafood,Rajasthani,Malwani,BBQ,Indian,Beverages,Belgian,Hot dogs,Raw Meats,Thai,Goan,Vietnamese,Korean,Biryani,Arabian,Turkish,South American,Ice Cream,Lucknowi,Street Food,Finger Food,European,Konkan,Andhra,Burger,Charcoal Chicken,Chettinad,Tex-Mex,Iranian
0,ID_6321,"FTI College, Law College Road, Pune",200.0,50.0,3.5,12.0,4.0,30.0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
1,ID_2882,"Sector 3, Marathalli",100.0,50.0,3.5,11.0,4.0,30.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
2,ID_1595,Mumbai Central,150.0,50.0,3.6,99.0,30.0,65.0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
3,ID_5929,"Sector 1, Noida",250.0,99.0,3.7,176.0,95.0,30.0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,ID_6123,"Rmz Centennial, I Gate, Whitefield",200.0,99.0,3.2,521.0,235.0,65.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [28]:
df_train.Rating.value_counts()

-                     1191
3.7                    869
3.6                    846
3.5                    818
3.8                    800
NEW                    757
3.9                    749
3.4                    718
3.3                    675
4.0                    614
3.2                    511
4.1                    459
3.1                    411
3.0                    302
4.2                    272
4.3                    247
2.9                    199
2.8                    157
4.4                    142
4.5                     78
2.7                     76
2.6                     42
4.6                     41
4.7                     36
2.5                     27
2.4                     13
4.8                     13
Opening Soon            12
4.9                      8
2.3                      6
Temporarily Closed       2
2.2                      1
2.1                      1
Name: Rating, dtype: int64

In [29]:
df_train = pd.concat((df_train, pd.DataFrame(columns = ['NEW', 'Opening Soon', 'Temporarily Closed'])))
df_train.fillna(0, inplace = True)

In [30]:
def processRatingCases(df):
    rating = df.Rating
    try:
        if rating in ['NEW', 'Opening Soon', 'Temporarily Closed']:
            df[rating] = 1
            return df
        else:
            raise 'int value'
    except:
        return df

In [31]:
df_train = df_train.apply(processRatingCases, axis=1)

In [32]:
def processRating(x):
    try:
        return float(x)
    except:
        return None

In [33]:
df_train.Rating = df_train.Rating.apply(processRating)

In [34]:
df_train.fillna('Unknown', inplace = True)

In [35]:
df_train.head()

,Restaurant,Location,Average_Cost,Minimum_Order,Rating,Votes,Reviews,Delivery_Time_min,North Indian,Sandwich,Coffee,Naga,Nepalese,Greek,Maharashtrian,Poké,Fast Food,Asian,South Indian,French,Burmese,Sri Lankan,Cafe,Assamese,Middle Eastern,Pizza,African,Tamil,Bar Food,Gujarati,North Eastern,Continental,Mexican,Mishti,Bangladeshi,Mediterranean,Japanese,Juices,Lebanese,Mangalorean,Rolls,Israeli,Brazilian,Mughlai,Odia,Bakery,Desserts,Bihari,Spanish,Momos,Modern Indian,Paan,Parsi,Afghan,Mithai,Tibetan,Roast Chicken,Cantonese,Chinese,Bohri,Bubble Tea,Awadhi,Kerala,Portuguese,Healthy Food,Bengali,American,Hyderabadi,Italian,Sushi,Wraps,Steak,Kebab,Frozen Yogurt,Kashmiri,German,Indonesian,Malaysian,Salad,Tea,Seafood,Rajasthani,Malwani,BBQ,Indian,Beverages,Belgian,Hot dogs,Raw Meats,Thai,Goan,Vietnamese,Korean,Biryani,Arabian,Turkish,South American,Ice Cream,Lucknowi,Street Food,Finger Food,European,Konkan,Andhra,Burger,Charcoal Chicken,Chettinad,Tex-Mex,Iranian,NEW,Opening Soon,Temporarily Closed
0,ID_6321,"FTI College, Law College Road, Pune",200.0,50.0,3.5,12.0,4.0,30.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0,0,0
1,ID_2882,"Sector 3, Marathalli",100.0,50.0,3.5,11.0,4.0,30.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0
2,ID_1595,Mumbai Central,150.0,50.0,3.6,99.0,30.0,65.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0
3,ID_5929,"Sector 1, Noida",250.0,99.0,3.7,176.0,95.0,30.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0
4,ID_6123,"Rmz Centennial, I Gate, Whitefield",200.0,99.0,3.2,521.0,235.0,65.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0